<div class="wrapper">
    <div class="main-panel">
        <app-navbar></app-navbar>
        <router-outlet></router-outlet>
            <app-footer></app-footer>
        </div>
    </div>
<div class="fixed-plugin">
    <div class="dropdown show-dropdown open show">
        <a href="#" data-toggle="dropdown" aria-expanded="true">
            <i class="fa fa-cog fa-2x"> </i>
        </a>
        <ul class="dropdown-menu show" x-placement="bottom-start" style="position: absolute; top: 41px; left: -231px; will-change: top, left;">
            <li class="header-title"> Moncef Bey</li>
            <li class="adjustments-line">
                <a href="javascript:void(0)" class="switch-trigger active-color">
                    <div class="clearfix">testtt</div>
                    <div class="ripple-container" style="color: black">Moncef Bey is a website to sell buy used clothes and other cool stuff</div></a>
            </li>

            <li class="button-container">
                <div>
                    <button class="btn btn-info btn-block btn-fill" routerLink="/newsletter" >
                        Let's stay in touch
                    </button>
                </div>
            </li>


        </ul>
    </div>
</div>

<!--
<div id="app">
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <a href="#" class="navbar-brand">bezKoder</a>
        <ul class="navbar-nav mr-auto" routerLinkActive="active">
            <li class="nav-item">
                <a href="/home" class="nav-link" routerLink="home">Home </a>
            </li>
            <li class="nav-item" *ngIf="showAdminBoard">
                <a href="/admin" class="nav-link" routerLink="admin">Admin Board</a>
            </li>
            <li class="nav-item" *ngIf="showModeratorBoard">
                <a href="/mod" class="nav-link" routerLink="mod">Moderator Board</a>
            </li>
            <li class="nav-item">
                <a href="/user" class="nav-link" *ngIf="isLoggedIn" routerLink="user">User</a>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
            <li class="nav-item">
                <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
            </li>
            <li class="nav-item">
                <a href="/login" class="nav-link" routerLink="login">Login</a>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
            <li class="nav-item">
                <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
            </li>
            <li class="nav-item">
                <a href class="nav-link" (click)="logout()">LogOut</a>
            </li>
        </ul>
    </nav>

    <div class="container">
        <router-outlet></router-outlet>
    </div>
</div>
-->
