<div class="main-content" *ngIf="currentUser">
    <div class="container-lg justify-content-center">

            <div class="col-md-9">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <a href="javascript:void(0)">
                            <img class="img" src="./assets/img/faces/marc.jpg" />
                        </a>
                    </div>
                    <div class="card-body">
                        <h6 class="card-category text-gray"> {{ currentUser.email }}</h6>
                        <h4 class="card-title">{{ this.DetailUser.FirstName }} {{this.DetailUser.LastName}}</h4>
                        <p class="card-description">
                            {{this.DetailUser.Address}} <br>
                            {{this.DetailUser.City}} <br>
                            {{this.DetailUser.Country}}<br>
                           <strong>{{this.DetailUser.AboutMe}}</strong>
                        </p>
                        <a  class="btn btn-warning btn-round" (click)="btnclick()">Update</a>
                        <a  class="btn btn-danger btn-round" (click)="delete()">Delete</a>
                    </div>
                </div>
            </div>
        </div>

<div class="row" *ngIf="update">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header card-header-danger">
                <h4 class="card-title">Edit Profile</h4>
                <p class="card-category">Complete your profile</p>
            </div>
            <div class="card-body">
                <form>
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                                <input name="FirstName" [(ngModel)]="userDetails.FirstName" matInput placeholder="First Name" type="text">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                                <input name="LastName" [(ngModel)]="userDetails.LastName" matInput placeholder="Last Name" type="text">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <mat-form-field class="example-full-width">
                                <input name="Address" [(ngModel)]="userDetails.Address" matInput placeholder="Address" type="text">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field class="example-full-width">
                                <input name="City" [(ngModel)]="userDetails.City" matInput placeholder="City" type="text">
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field class="example-full-width">
                                <input name="Country" [(ngModel)]="userDetails.Country" matInput placeholder="Country" type="text">
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field class="example-full-width">
                                <input name="PostalCode" [(ngModel)]="userDetails.PostalCode" matInput placeholder="Postal Code" type="text">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label>About Me</label>
                            <mat-form-field class="example-full-width">
                                <textarea name="AboutMe" [(ngModel)]="userDetails.AboutMe" matInput placeholder="Write something here"></textarea>
                            </mat-form-field>
                            <!-- <div class="form-group">

                                <div class="form-group">
                                    <label class="bmd-label-floating"> Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</label>
                                    <textarea class="form-control" rows="5"></textarea>
                                </div>
                            </div> -->
                        </div>
                    </div>
                    <button mat-raised-button type="submit" (click)="updateprofile()" class="btn btn-danger pull-right">Update Profile</button>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
