<div class="main-content">
    <div class="container py-md">
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-12   mb-lg-2">
                <div class="rounded shadow-lg overflow-hidden transform-perspective-center">
                    <ngb-carousel style="transition-duration: 0.1ms !important;">
                        <ng-template ngbSlide>
                            <img class="img-fluid" src="assets/img/clothes/cover2.jpg!d" alt="First slide"
                                 style=" width: 1200px; height:400px;max-height:400px; margin:0 auto;">
                        </ng-template>
                        <ng-template ngbSlide>
                            <img class="img-fluid" src="assets/img/clothes/cover7.webp" alt="Second slide"
                                 style=" width: 1200px; height:400px;max-height:400px; margin:0 auto;">
                        </ng-template>
                    </ngb-carousel>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>

    <div class="container-fluid">
        <section id="bestSeller">
            <div id="typography">
                <div class="card-title">
                    <h2>BEST SELLER OF THE WEEK !</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-2 col-sm-3">
                    <div class="card card-stats">
                        <div class="card-header card-header-rose card-header-icon">
                            <div class="card-icon">
                                <img  class="zoom bestsellerimg" src="assets/img/clothes/dress.jpg">
                            </div>
                        </div>
                        <div class="card-header">
                            dress on sale! hurry up
                        </div>
                        <h3 class="card-body" style="font-size: 3rem; padding-top: inherit">34 DT</h3>
                    </div>
                </div>

                <div class="col-lg-3 col-md-2 col-sm-3">
                    <div class="card card-stats">
                        <div class="card-header card-header-warning card-header-icon">
                            <div class="card-icon">
                                <img  class="bestsellerimg zoom" src="assets/img/clothes/sneakers2.jpg">
                            </div>
                        </div>
                        <div class="card-header">
                            sneakers on sale! hurry up
                        </div>

                        <h3 class="card-body" style="font-size: 3rem; padding-top: inherit;">14 DT</h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-2 col-sm-3">
                    <div class="card card-stats">
                        <div class="card-header card-header-success card-header-icon">
                            <div class="card-icon">
                                <img class="zoom bestsellerimg"  src="assets/img/clothes/tshirt.jpg">
                            </div>
                        </div>
                        <div class="card-header">
                            tshirt on sale! hurry up
                        </div>
                        <h3 class="card-body" style="font-size: 3rem; padding-top: inherit;">19 DT</h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-2 col-sm-3">
                    <div class="card card-stats">
                        <div class="card-header card-header-info card-header-icon">
                            <div class="card-icon">
                                <img class="zoom bestsellerimg"  src="assets/img/clothes/tshirt2.jpg">
                            </div>
                        </div>
                        <div class="card-header">
                            tshirt on sale! hurry up
                        </div>
                        <h3 class="card-body" style="font-size: 3.0rem; padding-top: inherit;">50 DT</h3>
                    </div>
                </div>
            </div>
        </section>

<br>
<br>
        <div class=" justify-content-end">
            <form class="navbar-form" #f="ngForm" (ngSubmit)="Onchercher(f.value)">
                <div class="input-group" style="width: 500px;">
                    <input type="text" value="Search" name="keyword" ngModel class="form-control" placeholder="Search...">
                    <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
                        <i class="material-icons">search</i>
                        <div class="ripple-container"></div>
                    </button>
                </div>
            </form>
        </div>

    <div *ngIf="products">
        <div class="row" >
            <div class="col-md-4" *ngFor="let p of products._embedded.products; let i = index" #i>
                <div class="card card-chart">
                    <div class="card-header">
                        <app-product-item
                                [prod]="p.id"
                                [idProduct]="p._links.fileDB.href"></app-product-item>

                    </div>

                    <div class="card-body">
                        <h1 class="card-title">{{p.price}}  DT</h1>
                        <h4 class="card-title">{{p.title}} <small class="text-success"> 5% </small> <small
                                class="card-category">Sale</small></h4>
                        <span class="card-category">
                        {{p.description}}.<br>
                          Sizes available:  <br>
                          <span style="color: black; font-size: 10px"> {{p.availableSize}}  </span>
                      </span>
                    </div>
                    <div class="card-footer">
                            <button class="btn btn-dark btn-just-icon">
                            <span  class="material-icons icon-image-preview" [style.color]="p.isSelected ? '#D94261' : 'FFFFFF'" (click)="addToSummary(p)">favorite</span>
                            </button>
                        <button href="" class="btn btn-success" (click)="addtocart(p)">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <ul *ngIf="pages" class="nav nav-pills" style="margin-right: 0px">
        <li *ngFor="let p of pages; let i=index" class="nav-item">
            <a (click)="OnPageProduct(i)" class="nav-link" data-toggle="pill">{{i+1}}</a>
        </li>
    </ul>
</div>

            <!--
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header">
                        <img style="width: 350px;padding: 15px;height: 270px;margin-top: -40px;"
                             src="assets/img/clothes/tshirt2.jpg">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">WHITE T-SHIRT <small class="text-success"> 5% </small> <small
                                class="card-category">Sale</small></h4>
                        <span class="card-category">
                          White tshirt from the brand ZARA.<br>
                          Sizes available:  <br>
                          <span style="color: black; font-size: 10px"> XS  -  S  -  M   -  XL  </span>
                      </span>

                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> updated 4 minutes ago
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header">
                        <img style="width: 350px;padding: 15px;height: 270px;margin-top: -40px;"
                             src="assets/img/clothes/tshirt2.jpg">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">WHITE T-SHIRT <small class="text-success"> 5% </small> <small
                                class="card-category">Sale</small></h4>
                        <span class="card-category">
                          White tshirt from the brand ZARA.<br>
                          Sizes available:  <br>
                          <span style="color: black; font-size: 10px"> XS  -  S  -  M   -  XL  </span>
                      </span>

                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> updated 4 minutes ago
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header">
                        <img style="width: 350px;padding: 15px;height: 270px;margin-top: -40px;"
                             src="assets/img/clothes/tshirt2.jpg">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">WHITE T-SHIRT <small class="text-success"> 5% </small> <small
                                class="card-category">Sale</small></h4>
                        <span class="card-category">
                          White tshirt from the brand ZARA.<br>
                          Sizes available:  <br>
                          <span style="color: black; font-size: 10px"> XS  -  S  -  M   -  XL  </span>
                      </span>

                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> updated 4 minutes ago
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header">
                        <img style="width: 350px;padding: 15px;height: 270px;margin-top: -40px;"
                             src="assets/img/clothes/tshirt2.jpg">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">WHITE T-SHIRT <small class="text-success"> 5% </small> <small
                                class="card-category">Sale</small></h4>
                        <span class="card-category">
                          White tshirt from the brand ZARA.<br>
                          Sizes available:  <br>
                          <span style="color: black; font-size: 10px"> XS  -  S  -  M   -  XL  </span>
                      </span>

                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> updated 4 minutes ago
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header">
                        <img style="width: 350px;padding: 15px;height: 270px;margin-top: -40px;"
                             src="assets/img/clothes/tshirt2.jpg">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">WHITE T-SHIRT <small class="text-success"> 5% </small> <small
                                class="card-category">Sale</small></h4>
                        <span class="card-category">
                          White tshirt from the brand ZARA.<br>
                          Sizes available:  <br>
                          <span style="color: black; font-size: 10px"> XS  -  S  -  M   -  XL  </span>
                      </span>

                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> updated 4 minutes ago
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header">
                        <img style="width: 350px;padding: 15px;height: 270px;margin-top: -40px;"
                             src="assets/img/clothes/tshirt2.jpg">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">WHITE T-SHIRT <small class="text-success"> 5% </small> <small
                                class="card-category">Sale</small></h4>
                        <span class="card-category">
                          White tshirt from the brand ZARA.<br>
                          Sizes available:  <br>
                          <span style="color: black; font-size: 10px"> XS  -  S  -  M   -  XL  </span>
                      </span>

                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> updated 4 minutes ago
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header">
                        <img style="width: 350px;padding: 15px;height: 270px;margin-top: -40px;"
                             src="assets/img/clothes/tshirt2.jpg">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">WHITE T-SHIRT <small class="text-success"> 5% </small> <small
                                class="card-category">Sale</small></h4>
                        <span class="card-category">
                          White tshirt from the brand ZARA.<br>
                          Sizes available:  <br>
                          <span style="color: black; font-size: 10px"> XS  -  S  -  M   -  XL  </span>
                      </span>

                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> updated 4 minutes ago
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header">
                        <img style="width: 350px;padding: 15px;height: 270px;margin-top: -40px;"
                             src="assets/img/clothes/tshirt2.jpg">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">WHITE T-SHIRT <small class="text-success"> 5% </small> <small
                                class="card-category">Sale</small></h4>
                        <span class="card-category">
                          White tshirt from the brand ZARA.<br>
                          Sizes available:  <br>
                          <span style="color: black; font-size: 10px"> XS  -  S  -  M   -  XL  </span>
                      </span>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> updated 4 minutes ago
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
-->

