<div class="main-content">
    <br>
    <br>
    <div class="row">
    <div class="col-sm">
    <div class="card shadow">
        <div class="card-header card-header-success">
            <h4 class="card-title">GET IN TOUCH WITH US</h4>
            <p class="card-category">YOUR FEEDBACK IS IMPORTANT!</p>
        </div>
        <div class="card-body px-lg-9 py-lg-9">
            <div class="text-center text-muted mb-4">
            </div>
            <br>
            <form [formGroup]="ContactUsForm">
                <div class="form-group mb-3">
                    <label>Name</label>
                    <input type="text" class="form-control" placeholder="{{this.username}}" formControlName="name">
                    <div class="alert alert-danger" *ngIf="name.errors && name.touched">
                        the name is a required field
                    </div>
                </div>
                <div class="form-group mb-3">
                    <label>ADDRESS</label>
                    <input type="text" class="form-control" formControlName="addresse" value="{{this.coordinates}}">

                </div>
                <div class="form-group mb-3">
                    <label>Email</label>
                    <input type="email" class="form-control" placeholder="test@test.com" formControlName="email">
                    <div class="alert alert-danger" *ngIf="email.errors && email.touched">
                        <div *ngIf="email.errors.required">the email is a required field</div>
                        <div *ngIf="email.errors.pattern">An email should take the form of test@test.com</div>
                    </div>
                </div>
                    <div class="form-group mb-3">
                        <label>Message</label>
                        <input type="text" class="form-control" placeholder="WE WANT TO HERE FROM YOU! LEAVE US A MESSAGE" formControlName="messages">
                        <div class="alert alert-danger" *ngIf="messages.errors && messages.touched">
                            the messages is a required field
                        </div>
                    </div>
                <div class="row mt-5">

                    <div class="col-6">
                        <button class="btn-outline-warning" (click)="reset()">Remove</button>
                    </div>
                <div class="col-6 text-center">
                <button class="btn-success" type="submit" (click)="onSubmit()" [disabled]="ContactUsForm.invalid">
                    Save
                </button>
                </div>
                </div>
            </form>
            <div class="alert alert-success alert-dismissible" *ngIf="sent">Sent</div>
        </div>
    </div>
    </div>
    <div class="col-sm">
<br>
        <br>
        <agm-map [latitude]="lat" [longitude]="lng">
            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>
</div>
</div>
</div>
